Stage/force-app/main/default/flows/Automations_with_SLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Fluxo quando cria Caso ou atualiza</description>
        <name>Cria_Case_ou_Atualiza</name>
        <label>Cria  Case ou Atualiza?</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>AnalystSolvesTheCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ATUALIZA CASO</defaultConnectorLabel>
        <rules>
            <name>Cria_Case</name>
            <conditionLogic>1 AND 6 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint_Channel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correspondence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mailbox_Listen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Possible_Handle_Demand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Analista_Cria_Case</targetReference>
            </connector>
            <label>Cria Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Does_not_equal_to_Ouvir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Occupation_area__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ouvir</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Occupation_area__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aguardando 2° nível</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concluir_Milestone</targetReference>
            </connector>
            <label>Does not equal to &apos;Ouvir&apos;</label>
        </rules>
        <rules>
            <name>possivel_tratar_a_demanda</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Possible_Handle_Demand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Occupation_area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ouvir</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Em Andamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concluir_Milestone_III</targetReference>
            </connector>
            <label>É possível tratar a demanda?</label>
        </rules>
    </decisions>
    <description>Versao 23</description>
    <environments>Default</environments>
    <formulas>
        <name>caseisnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Automations with the SLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automações com a abertura ou atualização de um chamado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Analista_Cria_Case</name>
        <label>Analista Cria Case</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Occupation_area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ouvir</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint_Channel</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Correspondence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mailbox_Listen</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Ouvidoria_resolve__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em Andamento</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AnalystSolvesTheCase</name>
        <label>Analista atualiza o caso</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Em Andamento</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Ouvidoria_resolve__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em Andamento</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Atualizar o campo &apos;Status&apos; para &apos;Aguardando 2°Nível&apos; quando o campo &apos;Occupation_area__c&apos; for diferente de &apos;Ouvir&apos;.</description>
        <name>UpdateOcupationArea</name>
        <label>UpdateOcupationArea</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Occupation_area__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ouvir</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aguardando 2° nível</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Fields</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Occupation_area__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ouvir</stringValue>
            </value>
        </filters>
        <filters>
            <field>Occupation_area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ouvir</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Concluir_Milestone</name>
        <label>Concluir Milestone</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>UpdateOcupationArea</targetReference>
        </connector>
        <flowName>Concluir_Milestone_SubFlow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record.Id</assignToReference>
            <name>RecordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Concluir_Milestone_III</name>
        <label>Concluir Milestone III</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Cria_Case_ou_Atualiza</targetReference>
        </connector>
        <flowName>Concluir_Milestone_SubFlow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record.Id</assignToReference>
            <name>RecordId</name>
        </outputAssignments>
    </subflows>
</Flow>
