Stage/force-app/main/default/flows/Fluxo_de_notifica_o_de_altera_o_de_data_tarefa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Envio de email para Ouvidora</description>
        <name>Envio_de_email</name>
        <label>Envio de email</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Assunto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>hedermiranda@yahoo.com.br</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Fluxo de notificação de alteração de data tarefa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fluxo de notificação de alteração de data tarefa</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obter Id do Case</description>
        <name>Get_Case_ID</name>
        <label>Get CaseID</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Envio_de_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>IdCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Indicativo de Melhoria</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Assunto</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Modificação de data de vencimento da Tarefa: {!IdCase.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <description>Corpo de email de notificacao</description>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Ola &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;{!$User.FirstName} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Informamos que a Tarefa &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;{!$Record.Subject}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt; do Case &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;{!IdCase.CaseNumber}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;, foi alterado a Data de Vencimento para:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;{!$Record.ActivityDate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Descricao da Tarefa :  {!$Record.Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Propietario do Caso: {!userName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Clique &lt;/span&gt;&lt;a href=&quot;https://previ--dev.sandbox.lightning.force.com/lightning/r/Case/{!IdCase.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Aqui!&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>email Ouvidora</description>
        <name>EmailOuvidora</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>IdCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>userName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Username</elementReference>
        </value>
    </variables>
</Flow>
