Stage/force-app/main/default/flows/Preenche_Entitlement_no_Caso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Alta_Ouvidoria</name>
        <label>Alta Ouvidoria</label>
        <locationX>666</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CriticidadeAltaOuvidoria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListaAtribuicao.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListaAtribuicao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Alta_Telefone_Ouvidoria</name>
        <label>Alta Telefone Ouvidoria</label>
        <locationX>930</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CriticidadeAltaTelefone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListaAtribuicao.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListaAtribuicao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Baixa_Ouvidoria</name>
        <label>Baixa Ouvidoria</label>
        <locationX>1194</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CriticidadeBaixaOuvidoria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListaAtribuicao.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListaAtribuicao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Baixa_Telefone_Ouvidoria</name>
        <label>Baixa Telefone Ouvidoria</label>
        <locationX>1458</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CriticidadeBaixatelefone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListaAtribuicao.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListaAtribuicao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Media_Ouvidoria</name>
        <label>Media Ouvidoria</label>
        <locationX>1722</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CriticidadeMediaOuvidoria</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListaAtribuicao.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListaAtribuicao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Media_Telefone_Ouvidoria</name>
        <label>Media Telefone Ouvidoria</label>
        <locationX>1986</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CriticidadeMediaTelefone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListaAtribuicao.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListaAtribuicao</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Qual_Criticidade</name>
        <label>Qual Criticidade ?</label>
        <locationX>1106</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Alta_com_telefone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Criticality_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alta Criticidade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AltacomTelefone</targetReference>
            </connector>
            <label>Alta com telefone</label>
        </rules>
        <rules>
            <name>Alta_sem_telefone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Criticality_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alta Criticidade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AltasemTelefone</targetReference>
            </connector>
            <label>Alta sem telefone</label>
        </rules>
        <rules>
            <name>Media_com_Telefone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Criticality_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Média Criticidade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medio_com_Telefone</targetReference>
            </connector>
            <label>Media com Telefone</label>
        </rules>
        <rules>
            <name>Media_sem_Telefone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Criticality_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Média Criticidade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medio_semTelefone</targetReference>
            </connector>
            <label>Media sem Telefone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qual_Entitlement</name>
        <label>Qual Entitlement ?</label>
        <locationX>1458</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Criticidade_Alta_Ouvidoria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaAtribuicao.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Criticidade Alta - Ouvidoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alta_Ouvidoria</targetReference>
            </connector>
            <label>Criticidade Alta Ouvidoria</label>
        </rules>
        <rules>
            <name>Criticidade_Alta_telefone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaAtribuicao.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Criticidade Alta - telefone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alta_Telefone_Ouvidoria</targetReference>
            </connector>
            <label>Criticidade Alta Telefone</label>
        </rules>
        <rules>
            <name>Criticidade_Baixa_Ouvidoria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaAtribuicao.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Criticidade Baixa - Ouvidoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Baixa_Ouvidoria</targetReference>
            </connector>
            <label>Criticidade Baixa Ouvidoria</label>
        </rules>
        <rules>
            <name>Criticidade_Baixa_Telefone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaAtribuicao.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Criticidade Baixa - telefone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Baixa_Telefone_Ouvidoria</targetReference>
            </connector>
            <label>Criticidade Baixa Telefone</label>
        </rules>
        <rules>
            <name>Criticidade_M_dia_Ouvidoria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaAtribuicao.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Criticidade Média - Ouvidoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Media_Ouvidoria</targetReference>
            </connector>
            <label>Criticidade Média Ouvidoria</label>
        </rules>
        <rules>
            <name>Criticidade_M_dia_Telefone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaAtribuicao.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Criticidade Média - telefone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Media_Telefone_Ouvidoria</targetReference>
            </connector>
            <label>Criticidade Média Telefone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>578</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Qual_Criticidade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Criticidade</defaultConnectorLabel>
        <rules>
            <name>Novo_Com_Telefone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NovocomTelefone</targetReference>
            </connector>
            <label>Novo Com Telefone</label>
        </rules>
        <rules>
            <name>Novo_S_Telefone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NovoSTelefone</targetReference>
            </connector>
            <label>Novo S Telefone</label>
        </rules>
    </decisions>
    <description>alterado regra do start</description>
    <environments>Default</environments>
    <interviewLabel>Preenche Entitlement no Caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Preenche Entitlement no Caso</label>
    <loops>
        <name>ListaAtribuicao</name>
        <label>Lista de Atribuição</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Entitlement_ID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Qual_Entitlement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Entitlement_ID</name>
        <label>Get Entitlement ID</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ListaAtribuicao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Criticidade</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AltacomTelefone</name>
        <label>Alta com Telefone</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>CriticidadeAltaTelefone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AltasemTelefone</name>
        <label>Alta sem Telefone</label>
        <locationX>842</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>CriticidadeAltaOuvidoria</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Medio_com_Telefone</name>
        <label>Medio com Telefone</label>
        <locationX>1106</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>CriticidadeMediaTelefone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Medio_semTelefone</name>
        <label>Medio semTelefone</label>
        <locationX>1370</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>CriticidadeMediaOuvidoria</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NovocomTelefone</name>
        <label>Novo com Telefone</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>CriticidadeBaixatelefone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NovoSTelefone</name>
        <label>Novo semTelefone</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>CriticidadeBaixaOuvidoria</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Entitlement_ID</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.Criticality_Level__c})</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CriticidadeAltaOuvidoria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CriticidadeAltaTelefone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CriticidadeBaixaOuvidoria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CriticidadeBaixatelefone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CriticidadeMediaOuvidoria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CriticidadeMediaTelefone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
