Stage/force-app/main/default/flows/Risco_Financeiro_Imagem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Qual_e_o_Risco</name>
        <label>Qual e o Risco ?</label>
        <locationX>604</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Limpa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Baixo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraude operacional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>baixoImagem</targetReference>
            </connector>
            <label>Baixo</label>
        </rules>
        <rules>
            <name>Alto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Producty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indícios de Discriminação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risco_de_Imagem_Alto</targetReference>
            </connector>
            <label>Alto</label>
        </rules>
        <rules>
            <name>baixo_baixo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Producty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Behavioral_Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Favorecimento em Processos de Seleção</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagamentos ou Recebimentos Impróprios</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utilização de Bens e Recursos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utilização da Marca Previ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roubo ou Furto de Insumos e Equipamentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Risk_Automation</targetReference>
            </connector>
            <label>baixo/baixo</label>
        </rules>
        <rules>
            <name>baixo_medio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assédio Moral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assédio Sexual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risco_de_Imagem</targetReference>
            </connector>
            <label>baixo/medio</label>
        </rules>
        <rules>
            <name>Limpa_Dados</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elogio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TipoDiferente</targetReference>
            </connector>
            <label>Limpa Dados</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Risco Financeiro/Imagem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risco Financeiro/Imagem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>baixoImagem</name>
        <label>baixoImagem</label>
        <locationX>247</locationX>
        <locationY>262</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fraude operacional</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Financial_Risk__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Risk__c</field>
            <value>
                <stringValue>Baixo</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Limpa</name>
        <label>Limpa</label>
        <locationX>612</locationX>
        <locationY>666</locationY>
        <filterLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6  OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR (7 AND 8)</filterLogic>
        <filters>
            <field>Producty__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Indícios de Corrupção</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Obtenção de vantagens indevidas</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Favorecimento de Fornecedores</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fraude financeira</stringValue>
            </value>
        </filters>
        <filters>
            <field>Producty__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Indícios de Quebra de Dados/Informações</stringValue>
            </value>
        </filters>
        <filters>
            <field>Producty__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Indícios de Violação de Normas</stringValue>
            </value>
        </filters>
        <filters>
            <field>Producty__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Indídios de Fraude</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outros</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elogio</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sugestão</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessoria Previdenciária</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Comunicado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retenção</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reclamação</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solicitacao</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Financial_Risk__c</field>
            <value>
                <elementReference>Vazio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Risk__c</field>
            <value>
                <elementReference>Vazio</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Risco_de_Imagem</name>
        <label>Risco de Imagem Medio</label>
        <locationX>1070</locationX>
        <locationY>605</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assédio Moral</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assédio Sexual</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Financial_Risk__c</field>
            <value>
                <stringValue>Baixo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Risk__c</field>
            <value>
                <stringValue>Médio</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Risco_de_Imagem_Alto</name>
        <label>Risco de Imagem Alto</label>
        <locationX>1062</locationX>
        <locationY>332</locationY>
        <filterLogic>1 OR 2 OR 3 OR 4 OR (5 AND 6)</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Racial</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Etário</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orientação sexual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gênero</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outros</stringValue>
            </value>
        </filters>
        <filters>
            <field>Producty__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Indícios de Discriminação</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Financial_Risk__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Risk__c</field>
            <value>
                <stringValue>Alto</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Service_Risk_Automation</name>
        <label>Risco Financeiro e Imagem</label>
        <locationX>255</locationX>
        <locationY>609</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gestão</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clima organizacional</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cultura</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Comunicação</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relacionamentos</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assédio Moral</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assédio Sexual</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Favorecimento em Processos de Seleção</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pagamentos ou Recebimentos Impróprios</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Roubo ou Furto de Insumos e Equipamentos</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utilização de Bens e Recursos</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utilização de Informações Privilegiadas</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utilização da Marca Previ</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Financial_Risk__c</field>
            <value>
                <stringValue>Baixo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Risk__c</field>
            <value>
                <stringValue>Baixo</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TipoDiferente</name>
        <label>TipoDiferente</label>
        <locationX>1070</locationX>
        <locationY>206</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Financial_Risk__c</field>
            <value>
                <stringValue>Baixo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Risk__c</field>
            <value>
                <stringValue>Baixo</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Qual_e_o_Risco</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record.RecordType.DeveloperName} &lt;&gt; &apos;Atendimento&apos;,
{!$Record.RecordType.DeveloperName} &lt;&gt; &apos;Fale_Conosco&apos;,
NOT(ISPICKVAL({!$Record.Type}, &apos;&apos;)),
NOT(ISCHANGED({!$Record.Image_Risk__c})),
NOT(ISCHANGED({!$Record.Financial_Risk__c}))
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Vazio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
